<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Test</title>
    </head>

    <body>

        <header>
            <div class="item">
                Logo
            </div>
            <div class="item">
                navigation
            </div>
        </header>

        <main>
            <section>
                <form class="" onsubmit="return handleSubmit(event)">
                    <textarea id="text" rows="20" name="input" value="" onblur="onBlur()" placeholder="Enter an article"></textarea>
                    <input type="submit" name="" value="submit" onclick="return Client.handleSubmit(event)" onsubmit="return handleSubmit(event)">
                </form>
            </section>

            <section>
                <strong>Form Results:</strong>
                <div id="results">
                    <p>Polarity: <span id="polarity"></span></p>
                    <p>Subjectivity: <span id="subjectivity"></span></p>
                    <p>Text Snippet : <span id="text_snippet"></span></p>
                </div>
            </section>
        </main>

        <footer>
            <p>This is a footer</p>
        </footer>

    </body>
</html>
